@charset "UTF-8";
@import url("https://rsms.me/inter/inter-ui.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  box-sizing: border-box;
}

/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type=reset],
input[type=button],
input[type=submit] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 56px;
  left: 50%;
  top: 0;
  margin: 24px 0 0 -600px;
}

html {
  scroll-behavior: smooth;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logos {
  display: flex;
  list-style: none;
}

.header-right {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 50px;
  height: 56px;
  background-image: url(../img/nimbus-logo-2022.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  z-index: 400;
  visibility: hidden;
  pointer-events: none;
}

.header-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 0 25px 0 0;
  background-repeat: no-repeat;
  background-position: center;
}

.header-icon:hover {
  background-color: rgba(43, 59, 71, 0.124066);
  color: white;
}

.header-link--gh .header-icon {
  background-image: url(../img/icon_gh.svg);
  background-size: 80%;
}

.header-link--tw .header-icon {
  background-image: url(../img/icon_tw.svg);
  background-size: 80%;
}

.header-link--gt .header-icon {
  background-image: url(../img/icon-gitter.svg);
}

.header-link--st .header-icon {
  background-image: url(../img/footer-logo.svg);
}

.mobile-nav-wrap.mobile-nav--shown {
  visibility: visible;
  pointer-events: all;
}

.mobile-nav-inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
  z-index: 600;
  opacity: 0;
  transform: translate3d(0, -25px, 0) scaleY(0.94);
  visibility: hidden;
  transition: visibility 0.5s linear 0s, opacity 0.1s linear, transform 0.4s cubic-bezier(0.175, 0.885, 0.135, 1.425);
}

.mobile-nav--shown .mobile-nav-inner {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, -5px, 0) scaleY(1);
}

.mobile-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 135, 148, 0.25);
  z-index: 500;
  opacity: 0;
  transition-delay: 0.2s;
  transform: translate3d(0, 0, 0) scale(1);
  visibility: hidden;
  transition: visibility 0.5s linear 0s, opacity 0.4s ease;
}

.mobile-nav--shown .mobile-nav-overlay {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.mobile-nav-wrap .logo {
  margin: 24px;
}

.mobile-nav-wrap .icon-close {
  position: absolute;
  right: 24px;
  top: 40px;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-close.svg);
  background-size: 16px;
}

.mobile-nav {
  padding: 0 24px 16px 24px;
}

.mobile-nav li a,
.mobile-nav li span {
  color: black;
  display: block;
  padding: 16px 0;
}

.mobile-sub-nav li a {
  color: #939ba1;
  padding-left: 32px;
}

.mobile-nav-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  margin: 0 24px;
  border-top: 1px solid #e8ebec;
}

.mobile-nav-footer .button {
  display: block;
  max-width: 240px;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.main-nav li {
  margin: 16px 30px 12px 30px;
}

.main-nav li.item--dropdown {
  margin-right: 28px;
}

.main-nav li.item--more {
  display: none;
}

.main-nav li.item--more a {
  color: #939ba1;
}

.main-nav li a {
  display: block;
  position: relative;
}

.main-nav li.item--dropdown a::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  display: block;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 8px 0 8px;
  top: 0px;
  right: -24px;
  background-image: url(../img/icon-arrow-down.svg);
  transition: transform 0.2s ease;
  opacity: 1;
  color: #fff !important;
}

.main-nav li:first-child {
  margin-left: 0;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a:hover {
  opacity: 0.8;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1248px) {
  .header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 24px 0 0 0;
    padding: 0 24px;
  }
}
@media (max-width: 1080px) {
  .header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 24px 0 0 0;
    padding: 0 24px;
  }

  .header-right {
    display: none;
  }
}
@media (max-width: 960px) {
  .logo {
    width: 121px;
    height: 46px;
    background-size: 121px;
  }

  .main-nav li {
    display: none;
  }

  .main-nav li.item--to-show {
    display: block;
  }

  .main-nav li.item--more {
    display: block;
  }

  .main-nav li {
    margin: 16px 8px 12px 8px;
  }

  .main-nav li.item--dropdown {
    margin-right: 28px;
  }
}
@media (max-width: 640px) {
  .header {
    height: auto;
  }

  .header-left {
    align-items: flex-start;
    flex-direction: column;
  }

  .main-nav {
    margin-left: 0;
  }

  .main-nav li {
    margin-top: 24px;
  }
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #17232D;
  position: relative;
  margin: 0 0 0 0;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding: 32px 0;
}

.cards--community.cards--community--dark {
  margin: 0;
}

.cards--community.cards--community--dark .card-inner {
  background-color: transparent;
}

.cards--community.cards--community--dark a h4 {
  color: white;
}

.cards--community.cards--community--dark a p {
  color: #939ba1;
  opacity: 0.7;
}

.cards--community.cards--community--dark a:hover h4 {
  opacity: 0.8;
}

.cards--community--dark .community-icon--join {
  background-image: url(../img/icon-join-dark.svg);
}

.cards--community--dark .community-icon--discussion {
  background-image: url(../img/icon-discussion-dark.svg);
}

.cards--community--dark .community-icon--contribute {
  background-image: url(../img/icon-contribute-dark.svg);
}

.footer-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0 0 0;
  padding: 32px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav li a {
  padding: 0 12px;
  color: white;
}

.footer-nav li a:hover {
  opacity: 0.8;
}

.footer-logo-wrap {
  width: 317px;
  display: flex;
  text-align: center;
}

.footer-logo-wrap__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
}

a.footer-logo {
  display: block;
  width: 52px;
  height: 52px;
  background-size: 52px;
  background-image: url(../img/footer-logo.svg);
}

a.footer-logo:hover {
  opacity: 0.8;
}

.footer-address {
  padding: 20px 0 0 0;
  opacity: 0.7;
}

.footer-table {
  display: flex;
}

.footer-table__column {
  box-sizing: border-box;
  padding: 15px 74px 64px;
}

.margin-top-15 {
  margin-top: 15px;
}

.footer-header {
  color: white;
  opacity: 0.5;
  margin: 0 0 40px 0;
}

.footer-project {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.footer-link {
  height: 32px;
  line-height: 32px;
  margin: 0 0 15px 0;
}

.margin-left {
  margin-left: 15px;
}

.footer-link a {
  align-items: center;
}

.footer-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 0 15px 0 0;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-link--fb .footer-icon {
  background-image: url(../img/icon_fb.svg);
}

.footer-link--tw .footer-icon {
  background-image: url(../img/icon_tw.svg);
}

.footer-link--gt .footer-icon {
  background-image: url(../img/icon-gitter.svg);
}

.footer-link--dc .footer-icon {
  background-image: url(../img/icon_discord.svg);
  background-size: 70%;
}

.footer-link--st .footer-icon {
  background-image: url(../img/footer-logo.svg);
}

.footer-link--gh .footer-icon {
  background-image: url(../img/icon_gh.svg);
}

.footer-link a {
  color: white;
}

.status-network {
  display: inline-block;
}

.status-logo {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 10px;
  margin-left: 10px;
}

.footer-link a:hover {
  opacity: 0.8;
}

.language-switcher {
  color: white;
  -webkit-appearance: none;
  font-size: 16px;
  line-height: 32px;
  padding: 0 24px 0 0;
  background-image: url(../img/new-site/icon_dropdown-white.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

.language-switcher:focus {
  outline: none;
}

@media (max-width: 960px) and (min-width: 767px) {
  .extend-width {
    width: 400px;
  }
}
@media (max-width: 1248px) {
  .footer-inner {
    width: 100%;
    padding: 32px 24px;
  }
}
@media (max-width: 960px) {
  .cards--community.cards--community--dark .card-inner {
    height: auto;
    min-height: 180px;
  }

  .footer-inner {
    width: 820px;
    justify-content: space-around;
  }
}
@media (max-width: 800px) {
  .cards--community.cards--community--dark {
    margin: 0 auto;
    max-width: 375px;
  }

  .cards--community.cards--community--dark .card-inner {
    padding: 0 12px;
  }
}
@media (max-width: 767px) {
  .footer {
    border-top: 0px;
  }

  .footer-inner {
    padding: 40px 0 0 0;
    flex-direction: column;
  }

  .footer-header {
    margin: 0 0 30px 0;
  }

  .footer-table {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-margin {
    margin-bottom: 20px;
  }

  .footer-table__column {
    text-align: center;
    padding: 16px 16px;
  }

  .footer-nav {
    margin: 0 0 0 0;
  }

  .footer-link {
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin: 0 0 16px 0;
  }

  .footer-link a {
    justify-content: center;
    text-align: center;
  }

  .footer-icon {
    display: none;
  }

  .footer-logo-wrap {
    width: auto;
    order: 2;
  }

  .footer-logo-wrap__inner {
    width: 100%;
    padding: 32px 0 40px 0;
    align-items: center;
    text-align: center;
  }
}
@media screen {
  .wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
  }
}

.page-intro {
  padding: 98px 20px 0;
}

.wrapper:before, .wrapper:after {
  content: "";
  display: table;
}

.wrapper:after {
  clear: both;
}

#content-wrap {
  background: white;
  border-bottom: 1px solid #2d2e53;
  margin: -1px 0;
}

#content {
  position: relative;
  padding-top: 0;
}

#content-inner {
  display: flex;
}

@media screen and (min-width: 820px) {
  #content-inner-full {
    margin-left: 0;
  }
}

@media screen and (min-width: 820px) {
  .article-container {
    float: right;
    width: 100%;
  }
}

.article-inner:before, .article-inner:after {
  content: "";
  display: table;
}

@media screen {
  .inner, #article-toc-inner {
    padding: 0 20px;
  }
}

.inner:before, #article-toc-inner:before, .inner:after, #article-toc-inner:after {
  content: "";
  display: table;
}

.article {
  float: left;
  width: 100%;
  padding: 20px 0;
}
@media print {
  .article {
    padding: 0;
  }
}

#article-toc {
  display: none;
  float: right;
  width: 30%;
  margin-right: -30%;
  opacity: 0.8;
}
@media screen and (min-width: 820px) {
  #article-toc {
    display: block;
  }
}
@media screen and (max-width: 1450px) {
  #article-toc {
    display: none;
  }
}
#article-toc.fixed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#article-toc-inner {
  overflow-x: hidden;
  overflow-y: auto;
  width: 30%;
}
.fixed #article-toc-inner {
  position: fixed;
  top: 0;
  bottom: 0;
}

.toc-child {
  padding-left: 1em;
  font-size: 0.9em;
}

#article-toc-top {
  margin-top: 2em;
  font-size: 0.9em;
  text-decoration: none;
  color: color-default;
  display: block;
  margin-bottom: 40px;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}
#article-toc-top:hover {
  color: #feb130;
}

.article-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 90px 0 20px;
  display: flex;
  justify-content: space-between;
}

.article-title {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  transition: 0.2s;
}
.article-title a:hover {
  color: #feb130;
}
.post .article-title {
  float: none;
}

.article-date {
  color: color-gray;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
}
.article-date:hover {
  color: #feb130;
}

.article-edit-link {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  color: #ffffff;
  display: none;
  align-items: flex-end;
  text-decoration: none;
}
.article-edit-link:hover {
  opacity: 0.7;
}
@media screen and (min-width: 820px) {
  .article-edit-link {
    display: flex;
  }
}

.article-edit-link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 820px) {
  .article-edit-link {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
}
.article-anchor {
  margin-left: 10px;
  display: none;
}
.article-anchor:before {
  content: "#";
}
@media print {
  .article-anchor {
    display: none !important;
  }
}
.article-heading:hover .article-anchor {
  display: inline-block;
}

.article-content {
  line-height: 24px;
  color: #40444b;
  max-width: 90% !important;
}
@media print {
  .article-content {
    font-size: 12pt;
  }
}
.article-content p, .article-content ol, .article-content ul, .article-content dl, .article-content table, .article-content blockquote, .article-content iframe, .article-content .highlight {
  max-width: 80% !important;
  margin: 1em 0;
}
.article-content h1 {
  font-size: 26px;
}
.article-content h2 {
  font-size: 20px;
}
.article-content h3 {
  font-size: 18px;
}
.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
  line-height: 1em;
  font-weight: bold;
  margin: 1em 0;
  color: black;
}
.article-content a {
  color: #000000;
  text-decoration: underline;
}
.article-content a:hover {
  color: #feb130;
  text-decoration: underline;
}
@media print {
  .article-content a {
    text-decoration: underline;
  }
  .article-content a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
}
.article-content strong {
  font-weight: bold;
}
.article-content em {
  font-style: italic;
}
.article-content ul, .article-content ol, .article-content dl {
  margin-left: 20px;
}
.article-content ul ul, .article-content ul ol, .article-content ul dl, .article-content ol ul, .article-content ol ol, .article-content ol dl, .article-content dl ul, .article-content dl ol, .article-content dl dl {
  margin-top: 0;
  margin-bottom: 0;
}
.article-content ul {
  list-style: disc;
}
.article-content ol {
  list-style: decimal;
}
.article-content dl {
  list-style: square;
}
.article-content li p {
  margin: 0;
}
.article-content li table, .article-content li blockquote, .article-content li iframe, .article-content li .highlight {
  margin: 1em 0;
}
.article-content img, .article-content video {
  max-width: 90%;
}
.article-content blockquote {
  padding: 0 20px;
  position: relative;
  border: 1px solid #e3e3e3;
  border-left: 5px solid #ddd;
}
.article-content blockquote footer {
  margin: 1em 0;
  font-style: italic;
}
.article-content blockquote footer cite:before {
  content: "—";
  padding: 0 0.3em;
}
.article-content blockquote footer cite a {
  color: color-grey;
}
.article-content .note.tip {
  border-left-color: #ffaa00;
}
.article-content .note.info {
  border-left-color: #00aaff;
}
.article-content .note.warn {
  border-left-color: red;
}
.article-content .note-title {
  margin: 1em 0;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}
.article-content table {
  max-width: 100%;
  border: 1px solid #e3e3e3;
}
.article-content table th {
  font-weight: bold;
}
.article-content table th, .article-content table td {
  padding: 5px 15px;
}
.article-content table tr:nth-child(2n) {
  background: #eee;
}

.article-footer {
  margin: 1em 0;
  border-top: 1px solid #e3e3e3;
  text-align: center;
  color: color-gray;
  line-height: 1em;
  padding-top: 1em;
  position: relative;
  background: transparent;
}
@media print {
  .article-footer {
    display: none;
  }
}

article-footer-link, .article-footer-next, .article-footer-prev {
  color: #fa9d01;
  text-decoration: none;
  font-weight: bold;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
}
article-footer-link:hover, .article-footer-next:hover, .article-footer-prev:hover {
  color: #feb130;
}
@media print {
  article-footer-link, .article-footer-next, .article-footer-prev {
    display: none;
  }
}
article-footer-link span, .article-footer-next span, .article-footer-prev span {
  padding: 0 6px;
}

.article-footer-prev {
  left: 0;
}

.article-footer-next {
  right: 0;
}

.article-footer-updated {
  font-size: 0.9em;
}

@media screen and (max-width: 819px) {
  .article-footer-updated {
    font-size: 0.7em;
  }
}
@media print {
  #comments {
    display: none;
  }
}

#sidebar {
  min-width: 30%;
  padding: 40px 0;
}
#sidebar .inner, #sidebar #article-toc-inner {
  padding: 0;
}
#sidebar .inner:before, #sidebar #article-toc-inner:before {
  display: none;
}
.sidebar-title {
  margin-top: 40px;
  padding: 10px 0;
  font-weight: bold;
  color: color-title;
  display: inline-block;
  border-top: 1px solid color-border;
  line-height: 1;
}

.sidebar-title:first-child {
  margin-top: 0;
}

.sidebar-link, .toc-link {
  border-radius: 23.5px;
  font-size: 15px;
  padding: 9px 24px;
  display: block;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  line-height: normal;
}
.sidebar-link:hover, .toc-link:hover {
  background: rgba(250, 157, 1, 0.1);
  color: #fa9d01;
}

pre, code {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #4d4d4c;
  background: #eee;
  font-size: 0.95em;
}

code {
  padding: 0 5px;
}

pre {
  padding: 10px 15px;
  line-height: 22px;
}
pre code {
  border: none;
  display: block;
  padding: 0;
}

.highlight {
  background: #eee;
  padding: 10px 15px;
  color: #4d4d4c;
  overflow: auto;
  margin: 0;
}
.highlight table {
  margin: 0 !important;
  border: 0;
}
.highlight table th, .highlight table td {
  padding: 0;
}
.highlight figcaption {
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #939ba1;
}
.highlight figcaption a {
  float: right;
}
.highlight pre {
  padding: 0;
  border: none;
  background: none;
}
.highlight .line {
  height: 22px;
}

pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby, pre .constant,
pre .xml, pre .tag, pre .title,
pre .xml, pre .pi,
pre .xml, pre .doctype,
pre .html, pre .doctype,
pre .css, pre .id,
pre .css, pre .class,
pre .css, pre .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby, pre .class, pre .title,
pre .css, pre .rules, pre .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby, pre .symbol,
pre .xml, pre .cdata {
  color: #718c00;
}
pre .css, pre .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python, pre .decorator,
pre .python, pre .title,
pre .ruby, pre .function, pre .title,
pre .ruby, pre .title, pre .keyword,
pre .perl, pre .sub,
pre .javascript, pre .title,
pre .coffeescript, pre .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript, pre .function {
  color: #8959a8;
}

.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  z-index: 700;
  visibility: hidden;
  pointer-events: none;
}

.popup-wrap.popup--shown {
  visibility: visible;
  pointer-events: all;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 135, 148, 0.25);
  z-index: 800;
  opacity: 0;
  transform: translate3d(0, 0, 0) scale(1);
  visibility: hidden;
  transition: visibility 0.5s linear 0s, opacity 0.2s ease;
}

.popup--shown .popup-overlay {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.popup {
  box-sizing: border-box;
  width: 960px;
  margin: 132px auto 40px;
  background-color: white;
  border-radius: 10px;
  padding: 0px;
  position: relative;
  box-shadow: 0 3px 7px 0 rgba(175, 192, 202, 0.41);
  z-index: 900;
  opacity: 0;
  transform: translate3d(0, 15px, 0) scale(0.96);
  visibility: hidden;
  transition-delay: 0.2s;
  transition: visibility 0.5s linear 0s, opacity 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.135, 1.425);
}

.popup--shown .popup {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.popup__title {
  padding: 32px 0 12px 32px;
}

.popup__inner {
  padding: 0 32px 32px 32px;
}

.popup__text {
  font-size: 18px;
  line-height: 26px;
  padding: 0 32px 24px 32px;
  color: #70808D;
}

.popup__button {
  position: absolute;
  top: -69px;
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.popup__button:hover {
  opacity: 1;
}

.popup__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: 13px;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
}

.popup__button.popup__button--close {
  right: 0;
}

.popup__button.popup__button--close::after {
  background-image: url(../img/icon-close.svg);
}

.cards--community {
  margin: 0 0 52px 0;
}

.cards--community .card-inner {
  height: auto;
  min-height: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 24px;
  background-color: rgba(67, 96, 223, 0.1);
  border-radius: 16px;
  margin: 12px;
  text-decoration: none;
}

.cards--community .card-inner:hover {
  background-color: rgba(67, 96, 223, 0.14);
}

.popup .card h4 {
  padding: 0 0 4px 0;
}

.cards--community a h4 {
  color: black;
  padding: 0 0 8px 0;
}

.cards--community a p {
  color: rgba(67, 96, 223, 0.6);
}

.separator {
  border-bottom: 1px solid #e8ebec;
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.popup--projects .separator {
  margin: 32px 0;
}

.community-icon {
  width: 32px;
  height: 32px;
  background-size: 32px;
  background-repeat: no-repeat;
  margin: 0 0 24px 0;
}

.community-icon--join {
  background-image: url(../img/icon-join-blue.svg);
}

.community-icon--discussion {
  background-image: url(../img/icon-discussion-blue.svg);
}

.community-icon--contrubute {
  background-image: url(../img/icon-contribute-blue.svg);
}

.popup--community h5,
.popup--projects h5 {
  padding: 0 0 24px 0;
}

.cards-community-more .card-content {
  height: auto;
  min-height: 112px;
  overflow: hidden;
}

.popup--projects .cards-community-more .card-content {
  height: auto;
  min-height: 142px;
  overflow: hidden;
}

@media (max-width: 1008px) {
  .popup-wrap {
    padding: 0 24px;
  }

  .popup {
    width: 100%;
  }

  .card-community-more__link {
    margin: 8px 0 0 0;
  }
}
@media (max-width: 800px) {
  .cards--community {
    margin: 0 0 40px 0;
  }

  .popup--community h5 {
    padding-bottom: 16px;
  }

  .cards--community.cards--community--light .card-inner {
    height: auto;
    min-height: 0;
  }

  .cards-community-more .card-content {
    height: auto;
    min-height: 0;
    padding: 0 0 8px 0;
  }

  .popup--projects .cards-community-more .card-content {
    height: auto;
    min-height: 0;
    padding: 0 0 8px 0;
  }

  .cards-community-more .card-content h4 {
    padding: 8px 0 4px 0;
  }

  .popup__inner {
    padding: 0 24px 24px 24px;
  }

  .popup__title {
    font-size: 18px;
    padding: 24px 0 12px 24px;
  }
}
@media (max-width: 600px) {
  .popup-wrap {
    padding: 0 16px;
  }

  .popup {
    margin: 96px auto 64px;
  }

  .popup__text {
    font-size: 16px;
    line-height: 24px;
    padding: 0 16px 16px 16px;
  }
}
body {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #FF6161;
  overflow-x: hidden;
}

.home-wrap {
  position: relative;
  background-color: #F5F3F1;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 550px 0 0 0;
  box-shadow: 0 -20px 11px 0 rgba(43, 55, 107, 0.08);
}

@media (max-width: 991px) {
  .home-wrap {
    margin: 400px 0 0 0;
  }
}
.main-nav li.item--more a {
  color: white;
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: black;
}

.link-arrow {
  color: #4360df;
  position: relative;
}

.link-arrow::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 8px 0 8px;
  top: -2px;
  right: -24px;
  background-image: url(../img/link-arrow.svg);
  transition: transform 0.2s ease;
  opacity: 0.4;
}

.link-arrow:hover::after {
  transform: translate3d(4px, 0, 0);
}

.button, a.button {
  display: block;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 10px 32px 9px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 500;
  line-height: normal;
}

.button:hover, a.button:hover {
  background-color: #f9fafe;
}

.button.button--blue, a.button.button--blue {
  background-color: #4360df;
  color: white;
}

.button.button--orange, a.button.button--orange {
  background-color: #FF6161;
  color: white;
}

.button.button--blue:hover, a.button.button--blue:hover {
  background-color: #3a56d2;
}

.main-text {
  color: black;
  font-size: 16px;
  line-height: 26px;
}

.secondary-text {
  color: #939ba1;
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1em;
}

h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4em;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6em;
}

h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #939ba1;
  font-weight: 500;
  font-size: 14px;
}

.timestamp {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #939ba1;
  font-weight: 400;
  font-size: 12px;
}

.cards {
  display: flex;
  width: 100%;
}

.cards .card {
  width: 100%;
}

.cards.cards--three {
  flex-wrap: wrap;
}

.cards.cards--three .card {
  width: 33.3%;
}

.cards.cards--three .card-inner {
  margin: 12px;
}

.cards.cards--three .card:nth-child(3n+1) .card-inner {
  /* 1, 4, 7...*/
  margin-left: 0;
}

.cards.cards--three .card:nth-child(3n+3) .card-inner {
  /* 3, 6, 9...*/
  margin-right: 0;
}

.cards.cards--three .card:nth-child(1) .card-inner,
.cards.cards--three .card:nth-child(2) .card-inner,
.cards.cards--three .card:nth-child(3) .card-inner {
  margin-top: 0;
}

.cards.cards--three .card:nth-last-child(3) .card-inner,
.cards.cards--three .card:nth-last-child(2) .card-inner,
.cards.cards--three .card:nth-last-child(1) .card-inner {
  margin-bottom: 0;
}

.section-header {
  margin: -136px auto 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 60px 0;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
}

.section-header h2 {
  font-size: 26px;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 12px 0;
  font-weight: bold;
}

.section-header p {
  font-size: 16px;
  max-width: 590px;
  color: #8D99A4;
  line-height: 24px;
  margin: 0 auto 12px auto;
}

.section-header a {
  color: #000000;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.section-header a img {
  margin-left: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-header a:hover img {
  transform: translateX(3px);
}

@media (max-width: 1199px) {
  .sections {
    margin: 12px 0 0 0;
    padding-bottom: 32px;
  }

  .section-header {
    width: 100%;
    max-width: calc(100% - 32px);
    padding: 32px 24px 16px 24px;
  }

  .section-header h2 {
    font-size: 22px;
    padding: 0 0 8px 0;
  }

  .section-header p {
    width: 100%;
  }

  .section {
    width: 100%;
    height: auto;
    padding: 0 24px;
    flex-direction: column;
    padding: 0;
    border-bottom: 1px solid #E7E5EB;
  }

  .section__text {
    width: 100%;
    text-align: left;
    padding: 16px 24px 32px;
  }

  .section__text h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 4px 0;
  }

  .section .section__text {
    order: 1;
  }

  .section .section__image {
    order: 0;
    margin: 32px 0 32px 0;
  }

  .section:nth-child(even) .section__text {
    margin-left: 0px;
  }

  .section:nth-child(odd) .section__text {
    margin-right: 0px;
  }
}
.clear {
  clear: both;
}

.work-item {
  margin: 30px auto;
  text-align: left;
  max-width: 910px;
  padding: 100px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-item:nth-of-type(2n) .work-item-inner {
  padding-left: 30px;
  padding-right: 0;
}

.work-item-inner {
  max-width: 480px;
  padding-right: 30px;
}

.work-item-inner p {
  margin: 0 0 10px;
}

.inner-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 912px;
  width: 100%;
  padding: 40px 0 24px 0;
}

.inner-header h2 {
  font-size: 26px;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 8px 0;
  text-align: left;
  font-weight: bold;
}

.inner-header p {
  line-height: 25px;
  font-size: 16px;
  color: #939BA1;
  max-width: 590px;
}

.sections {
  width: 100%;
  margin: 24px 0 0 0;
  padding: 0 16px 60px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F5F3F1;
}

.section {
  width: 976px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section:last-child {
  border-bottom: none;
}

.section__text {
  width: 500px;
  text-align: left;
}

.section__text h2 {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin: 0 0 8px 0;
}

.section__text .text {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #777f86;
}

.section__text .text strong {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 24px;
  color: black;
  background-color: rgba(54, 55, 99, 0.1);
  border-radius: 4px;
  padding: 0 5px;
}

.section__text a {
  text-decoration: none;
  color: #7367A4;
  opacity: 0.8;
}

.section-link {
  padding: 0 12px 0 0;
}

.section__text a:hover {
  opacity: 1;
}

.section__text .text p {
  padding: 0 0 12px 0;
}

.section__text .text p:last-child {
  padding: 0 0 0 0;
}

.section__image {
  position: relative;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
}

.section.section--one .section__image {
  width: 212px;
  height: 186px;
  background-image: url(../img/image-2@2x.png);
  background-size: 212px;
}

.section.section--two .section__image {
  width: 248px;
  height: 184px;
  background-image: url(../img/image-2@2x.png);
  background-size: 248px;
}

.section.section--three .section__image {
  width: 258px;
  height: 162px;
  background-image: url(../img/image-3@2x.png);
  background-size: 258px;
}

.section.section--four .section__image {
  width: 208px;
  height: 151px;
  background-image: url(../img/image-4@2x.png);
  background-size: 208px;
}

.section:nth-child(even) {
  justify-content: flex-end;
}

.section:nth-child(odd) {
  justify-content: flex-start;
}

.section:nth-child(even) .section__text {
  margin-left: 90px;
}

.section:nth-child(odd) .section__text {
  margin-right: 90px;
}

.section:nth-child(even) .section__text {
  order: 1;
}

.section:nth-child(even) .section__image {
  order: 0;
}

.contribute-wrap {
  max-width: 912px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  min-height: 300px;
}

.contribute {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 24px;
  padding: 30px 24px 24px 24px;
  width: calc(33.33% - 24px);
  flex-direction: column;
  margin-bottom: 24px;
}

.contribute h3 {
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 8px;
}

.contribute h3 a {
  color: #000;
}

.contribute p {
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 16px;
  color: #939BA1;
  margin-bottom: 20px;
  overflow: hidden;
}

.contribute a {
  line-height: 24px;
  font-size: 16px;
  color: #FF6161;
  text-decoration: none;
  margin-top: auto;
}

.contribute span {
  margin-left: 8px;
}

.contribute p:last-child {
  margin-bottom: 0;
  margin-top: auto;
}

.blog a.feature-image {
  margin: -30px 0 24px -24px;
}
.blog a.feature-image img {
  border-radius: 5px 5px 0 0;
  width: calc(100% + 24px);
  height: 150px;
}

.contributor {
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
  display: flex;
  object-fit: cover;
  border-radius: 50%;
}

footer {
  color: #7D7F88;
  background: #17232D;
  padding: 60px 0;
  position: relative;
  z-index: 9;
}
footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
}
footer .container a {
  text-decoration: none;
}
footer .container .info {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  display: flex;
  flex-direction: column;
}
footer .container .social-links {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  margin-left: auto;
}
footer .container .more {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

footer .blog-logo {
  height: auto;
  display: flex;
  font-family: "GT Walsheim", sans-serif;
}
footer .blog-logo a {
  display: flex;
  align-items: center;
}
footer .blog-logo a:hover {
  color: #4360df;
}
footer .blog-logo a span {
  line-height: 1;
  font-size: 26px;
  text-transform: lowercase;
  font-weight: bold;
  margin-left: 10px;
}

footer a {
  color: #fff;
}

footer p {
  margin-top: auto;
  margin-bottom: 0;
  line-height: 26px;
  font-size: 16px;
}

footer h3 {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 32px;
}

footer ul li a:hover {
  opacity: 0.6;
  color: #fff;
}

footer ul.community li a {
  position: relative;
  padding-left: 48px;
}

footer ul.community li a:before,
footer ul.community li a:after {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

footer ul.community li a:after {
  opacity: 1;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

footer ul.community li a.footer-facebook:after {
  background-image: url(../img/icon_fb.svg);
}

footer ul.community li a.footer-twitter:after {
  background-image: url(../img/icon_tw.svg);
}

footer ul.community li a.footer-riot:after {
  background-image: url(../img/icon_ri.svg);
}

footer ul.community li a.footer-github:after {
  background-image: url(../img/icon_gh.svg);
}

footer ul.community li a.footer-reddit:after {
  background-image: url(../img/icon_rd.svg);
}

footer ul.community li a.footer-youtube:after {
  background-image: url(../img/icon_yt.svg);
}

footer .project h4 {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: "GT Walsheim", sans-serif;
}

footer .project p {
  margin: 0 0 30px 0;
  max-width: 220px;
  line-height: 20px;
  font-size: 14px;
}

footer .copyright {
  margin-top: 30px;
}

footer .copyright p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 20px;
}

footer .share {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer .share a {
  width: 60px;
  height: 60px;
  font-size: 22px;
  margin: 0 10px;
}

footer input[type=email] {
  border: 3px solid #ffffff;
  background: #eff0f1;
}

.latest-posts .post {
  margin-bottom: 24px;
}
.latest-posts .post h4 a {
  color: #000;
  transition: color 0.1s ease;
}
.latest-posts .post h4 a:hover {
  color: #4360df;
}
.latest-posts .post time {
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #939BA1;
  margin-bottom: 5px;
  display: block;
}

#container {
  transition: 0.4s;
  height: 100%;
}

.home-cover {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6161;
  height: 550px;
  flex-direction: column;
}

.logo-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  background-image: url(../img/nimbus-logo-2022.svg);
  background-size: contain;
}

.mobile-nav-inner .logo {
  background-image: url(../img/nimbus-logo.svg);
}

.intro {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 78px 0 64px;
  color: #fff;
  text-align: center;
  max-width: 590px;
}

.intro-buttons {
  display: flex;
}

.intro .button {
  margin: 0 6px;
  width: 260px;
  padding: 10px 0 8px;
}

.button.button--main {
  background-color: rgba(255, 205, 127, 0.4);
  color: #ffffff;
}

.button.button--main:hover {
  background-color: rgba(43, 59, 71, 0.124066);
  color: white;
}

.button.button--secondary {
  background-color: rgba(43, 59, 71, 0.124066);
  color: white;
}

.button.button--secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.intro h1 {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 36px;
  padding: 0 0 12px 0;
  font-weight: bold;
}

.intro p {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.6;
  padding: 0 0 25px 0;
}

span.social-link a:hover {
  opacity: 1;
}

span.social-link {
  margin: 8px;
}

span.social-link a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

span.social-link a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

span.social-link.social-link--twitter a {
  background-image: url(../img/icon-twitter.svg);
}

span.social-link.social-link--github a {
  background-image: url(../img/icon-github.svg);
}

@media (max-width: 991px) {
  .section-header {
    margin: -30px auto 0 auto;
  }

  .intro {
    margin-top: 132px;
    padding: 50px 16px;
  }

  .command-wrap {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .command {
    border-radius: 0;
    font-size: 18px;
  }

  #content-inner {
    flex-direction: column;
  }
  #content-inner #sidebar {
    padding: 20px 0;
    margin-left: -14px;
  }
  #content-inner #sidebar .inner, #content-inner #sidebar #article-toc-inner {
    flex-wrap: nowrap;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    width: calc(100% + 20px);
  }
  #content-inner #sidebar .inner a, #content-inner #sidebar #article-toc-inner a {
    padding: 9px 14px;
    margin-bottom: 0;
  }

  .article {
    padding: 0;
  }
  .article .inner, .article #article-toc-inner {
    padding: 0;
  }

  footer .container .social-links {
    flex: 0 0 20%;
    max-width: 20%;
  }
  footer .container .more {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (max-width: 767px) {
  .home-cover {
    position: relative;
    height: auto;
  }

  .home-wrap {
    margin-top: 30px;
  }

  .work-item {
    flex-direction: column-reverse;
    margin-top: 70px;
    padding: 0;
  }
  .work-item:nth-of-type(2n) {
    flex-direction: column;
  }
  .work-item:nth-of-type(2n) .work-item-inner {
    padding-left: 0;
  }
  .work-item .work-item-inner {
    padding-right: 0;
    margin-top: 30px;
  }

  .intro-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .intro-buttons .button {
    margin-bottom: 16px;
  }

  .contribute-wrap {
    flex-wrap: wrap;
  }
  .contribute-wrap .contribute {
    width: 100%;
    margin-right: 0;
  }

  footer .container {
    flex-direction: column-reverse;
    text-align: center;
  }
  footer .container p {
    margin-top: 10px;
  }
  footer .container ul li {
    margin-bottom: 16px;
  }
  footer .container .info {
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
    margin-top: 50px;
  }
  footer .container .info .blog-logo a span {
    display: none;
  }
  footer .container .social-links {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  footer .container .social-links .community {
    width: 130px;
    text-align: left;
    margin: 0 auto;
  }
  footer .container .more {
    flex: 0 0 100%;
    max-width: 100%;
  }
}