$colorBg: rgba(238, 242, 245, 1);

$colorWhite: rgba(255, 255, 255, 1);
$colorBlack: rgba(0, 0, 0, 1);

$colorBlue: rgba(67, 96, 223, 1);
$colorGray: rgba(147, 155, 161, 1);
$colorDarkBlue: #17232D;


$colorIncubate: rgba(0,139,173,1);
$colorEmbark: rgba(54, 55, 99, 1);
$colorStudio: #FF6161;
$colorNimbus: #FF6161;
$colorHardwallet: rgba(127, 68, 223, 1);
