$sidebar-width: 30%;

#sidebar {
  min-width: $sidebar-width;
  padding: 40px 0;
  .inner {
    padding: 0;
    &:before {
      display: none;
    }
    strong {
      // display: none;
    }
  }
}

.sidebar-title {
  margin-top: 40px;
  padding: 10px 0;
  // font-family: font-title;
  font-weight: bold;
  color: color-title;
  display: inline-block;
  border-top: 1px solid color-border;
  line-height: 1;
}

.sidebar-title:first-child {
  margin-top: 0;
}

.sidebar-link {
  border-radius: 23.5px;
  font-size: 15px;
  padding: 9px 24px;
  display: block;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  line-height: normal;
  &:hover {
    background: rgba(250, 157, 1, 0.1);
    color: #fa9d01;
  }
}