.DS_Store
.idea/
node_modules/
*.log
db.json
.deploy*/
package-lock.json
public/

# Composer
/vendor
composer.phar

# IntelliJ - PhpStorm and PyCharm
*.ipr
*.iws

# Eclipse
/.project
/.settings
/.classpath

# Logs
logs
error.log
access.log

# Netbeans
nbproject
.nbproject
.nbproject/*
nbproject/*
nbproject/private/
/nbbuild/
/nbdist/
nbactions.xml
nb-configuration.xml

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project
*.sublime-workspace

# Dart
packages
packages/*

# Vagrant
.vagrant
.vagrant/*

.env

# built assets
themes/navy/source/js/vendor.js
themes/navy/source/js/vendor.js.map
