
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  box-sizing: border-box;
}

a{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

.home-wrap, .pre-footer
  .button, .community a.button
    width: auto

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

.backdrop
  z-index: -101;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height 100%;
  background: #000000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
.mobile-menu-container
  position: fixed;
  z-index: -100;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 16px;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  max-width: 100vw;
  overflow: hidden;
  .mobile-menu-container-inner,
  .mobile-submenu-container-inner
    top: 16px;
    left: 16px;
    background: #fff;
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    border-radius: 8px;
    width: calc(100vw - 32px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    .title
      font-size: 14px;
      text-transform: uppercase;
      color: #939BA1;
    .ecosystem
      padding: 24px 24px 12px 24px
    .community 
      padding: 0 24px;
      border-radius: 0 0 8px 8px;
      overflow: hidden;
      .secondary-nav
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        span
          order: 1;
          margin: 15px 24px 0 0;
          &.social-link--github a
            background-image: url(../img/icon-github-mobile.svg);
            width: 32px;
            height: 32px;
          &.social-link--gitter a
            background-image: url(../img/icon-gitter-mobile.svg);
            width: 32px;
            height: 32px;
          &.social-link--twitter a
            background-image: url(../img/icon-twitter-mobile.svg);
            width: 32px;
            height: 32px;
          &:not(.social-link)
            order: 2;
            background: #EEF2F5;
            padding: 16px 24px;
            margin-left: -24px;
            width: calc(100% + 48px);
            margin-right: -24px;
            margin-top: 20px;
            a
              background: #FFFFFF;
              box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
              border-radius: 20px;
              text-transform: uppercase;
              font-size: 14px;
              letter-spacing: 1px;
              color: #000000;
              text-align: center;
              padding: 10px 23px 7px;
              font-weight: 500;
    .mobile-menu-header
      position: relative
      .close, .back
        position: absolute;
        top: 50%;
        display: flex;
        padding: 10px;
        margin-top: -22px;
        right: 14px;
      .back
        right: auto;
        left: 14px;
      .logo-wrap
        padding: 16px 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .logo
          background-image: url(../img/nimbus.svg);
          background-size: 44px;
          width: 44px;
          height: 44px;
        .logo-text
            color: #000;
            font-size: 22px;
    .dropdown 
      margin-left: 0
      nav 
        width: 100%;
        ul 
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          li 
            margin: 0;
            .sub-menu
              display: none;
            &.current
              a
                color: #000;
            a
              margin: 0 -24px 0 -24px;
              padding: 12px 26px;
              color: #000;
              &:hover
                background: rgba(250, 157, 1, 0.3);
            .mobile-submenu-trigger
              background-image: url(../img/arrow.svg);
              width: 24px;
              top: 0;
              right: -12px;
              position: absolute;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center;
              padding: 0 24px;
  .mobile-submenu-container-inner
    position: absolute;
    margin-bottom: 20px;
    transform: translateX(100vw);
    .dropdown
      padding: 0 24px;
      margin: 10px 0;
      nav 
        ul
          margin-top: 0;
    .mobile-menu-header
      justify-content: center;
      display: flex;
      min-height: 77px;
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,0.1);


.header
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  padding: 0 20px;
  height: 56px;
  top: 0;
  margin: 24px auto;
  z-index: 9;
  width: 100%;
  .mobile-menu-trigger
    display: flex;
    height: auto;
    align-self: center;
    margin-right: 6px;
    padding: 10px;
    margin-left: auto;
    display: none;
    svg
      path
        fill: #fff

.header-left {
  display: flex;
  align-items: center;
}

.logo-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: block;
  width: 56px;
  height: 56px;
  background-image: url(../img/logo_ogn.png);
  text-decoration: none;
  margin: 0;
  background-color: #ffffff;
  border-radius: 50%;
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-text {
  font-size: 27px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  font-family: "GT Walsheim", sans-serif;
  margin-left: 10px;
}

.logo-sign {
  display: block;
  position: absolute;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  bottom: -28px;
  text-decoration: none;
}

.logo-sign:hover, .by-status:hover {
  color: white;
}

.dropdown {
  display: flex;
  align-items: center;
  margin-left: 32px;  
}

.dropdown:before,
.dropdown:after {
  clear: both;
  content: "";
  display: table;  
}

.dropdown nav ul li {
  float: left;
  margin: 8px;
  position: relative;
}

.dropdown nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 0;
  display: block;
}

.dropdown nav ul li a:hover {
  opacity: .7;
}

.dropdown nav ul li a:focus {
  color: rgba(255, 255,255,1);
}

.dropdown nav ul li.current a {
  color: rgba(255,255,255,0.7);
}

.dropdown nav ul li:hover > ul {
  display: block;
}

.dropdown nav ul li ul {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
  border-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  flex-direction: column;
}

.dropdown .has-submenu{
  position: relative;
}

.dropdown .sub-menu {
  position: absolute;
  top: 100%;
  left: -7px;
  -webkit-transform: translateY(-20px) rotateX(20deg) scale(0.95);
  transform: translateY(-20px) rotateX(20deg) scale(0.95);
  -webkit-transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  -moz-transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  -o-transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.dropdown .sub-menu li a{
  padding: 0;
}

.dropdown .has-submenu:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0) rotateX(0) scale(1);
  transform: translateY(0) rotateX(0) scale(1);
}

.dropdown nav ul li ul li {
  float: none;
  width: 8.125em;
}

.dropdown nav ul li ul li a:link,
.dropdown nav ul li ul li a:visited {
  color: #8d99a4;
}

.dropdown nav ul li ul li a:hover {
  color: #000;
}

.secondary-nav {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.secondary-nav .button{
  margin-right: 8px;
}

.second-nav-links
  display: inherit
  @media mq-mobile
    display: none

.secondary-nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.secondary-nav a:hover {
  opacity: .7;
}

.secondary-nav span.social-link a:hover {
  opacity: 1;
}

.secondary-nav span.social-link {
  margin: 8px;
}

.secondary-nav span.social-link a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.secondary-nav span.social-link a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.secondary-nav span.social-link.social-link--twitter a {
  background-image: url(../img/icon-twitter.svg);
}

.secondary-nav span.social-link.social-link--github a {
  background-image: url(../img/icon-github.svg);
}

.secondary-nav span.social-link.social-link--gitter a {
  background-image: url(../img/icon-gitter.svg);
}

.secondary-nav span:first-child {
  margin-left: 0;
}

.secondary-nav span:last-child {
  margin-right: 0;
}

@media (max-width: 1199px) {
  .header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 24px 0 0 0;
    padding: 0 24px;
  }
}

.home-cover {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9c00;
  background-image: url("../img/head_bg.png");
  height: 550px;
  flex-direction: column;
  justify-content: flex-start;
}

.intro {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 78px 0 64px;
  color: #fff;
  text-align: center;
  max-width: 590px;
}

.intro-buttons {
  display: flex;
}

.intro .button {
  margin: 0 6px;
  width: 260px;
  padding: 10px 0 8px;
}

.button.button--main {
  background-color: rgba(255, 205, 127, 0.4);
  color: #ffffff;
}

.button.button--main:hover {
  background-color: rgba(43, 59, 71, 0.124066)
  color: gba(255, 255, 255, 1);;
}

.button.button--secondary {
  background-color: rgba(43, 59, 71, 0.124066)
  color: gba(255, 255, 255, 1);
}

.button.button--secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: gba(255, 255, 255, 1);
}

.intro h1 {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 36px;
  padding: 0 0 12px 0;
  font-weight: bold;
}

.intro p {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  opacity: .6;
  padding: 0 0 25px 0;
}

.command-wrap {
  width: 400px;
  margin: 24px auto 0;
}

.command {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: 28px;
  background-color: #FFFFFF;
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 21px;
  text-align: center;

  font-weight: bold;
  color: white;
  background-color: #232323;
}

.command-description {
  text-align: center;
  color: #777f86;
  padding: 8px 0 0 0;
}

.features {
  width: 1024px;
  margin: 0 auto;
}

.features-wrap {
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.features-wrap-2 {
  margin: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 0 16px 0;
  width: 100%;
  height: 156px;
  border-color: #E0E3E6;
  border-style: solid;
}

.features-item:last-child {
  margin-bottom: 0;
}

.features-item-inner {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 22px 24px 24px 24px;
  z-index: 200;
}

.features-item-top {
  width: 620px;
}

.features-item h2 {
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 8px 0;
  transition: color .2s ease;
}

.features-item p {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #777f86;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 8px 0;
}

.features-item p:last-child {
  padding: 0;
}

.features-button-wrap {
  display: flex;
  align-items: center;
}

.button--features {
  width: 200px;
  text-align: center;
}

.button.button--features {
  color: #363763;
}

@media (max-width: 1199px) {
  .features {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }

  .features-item {
    margin: 0 0 12px 0;
    height: auto;
  }

  .features-item-top {
    width: auto;
  }

  .features-item-inner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .button.button--features {
    margin: 16px 0 0 0;
    width: auto;
  }
}

.mail {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mail-inner {
  width: 460px;
  padding-top: 32px;
}

@media (max-width: 1199px) {
  .community {
    width: 100%;
    flex-wrap: wrap;
  }

  .community-item {
    width: 100%;
    height: auto;
    padding: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .community-item:last-child {
    border-bottom: none;
  }

  .mail-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 0;
  }
}

body {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ff9c00;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.button, a.button {
  display: block;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 10px 32px 9px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 500;
  line-height: normal;
}

.button.button--light, a.button.button--light {
  background-color: rgba(54, 55, 99, 0.1);
}

.button:hover, a.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button.button--light:hover, a.button.button--light:hover {
  background-color: rgba(54, 55, 99, 0.2);
}

.home-wrap {
  position: relative;
  background-color: #F5F3F1;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 550px 0 0 0;
  box-shadow: 0 -20px 11px 0 rgba(43, 55, 107, 0.08);
}

@media (max-width: 991px) {
  .home-wrap {
    margin: 400px 0 0 0;
  }
}

.section-header {
  margin: -136px auto 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 60px 0;
  text-align: center;
  background: #ffffff;
  border-radius: 5px
}

.section-header h2 {
  font-size: 26px;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 12px 0;
  font-weight: bold;
}

.section-header p {
  font-size: 16px;
  max-width: 590px;
  color: #8D99A4;
  line-height: 24px;
  margin: 0 auto 12px auto;
}

.section-header a {
  color: #ff9c00;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.section-header a img{
  margin-left: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-header a:hover img{
  transform: translateX(3px);
}

.clear {
  clear: both;
}

.work-item
  margin: 30px auto;
  text-align: left;
  max-width: 910px;
  padding: 100px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:nth-of-type(2n)
    .work-item-inner
      padding-left: 30px;
      padding-right: 0;

.work-item-inner{
  max-width: 480px;
  padding-right: 30px;
}

.work-item-inner p {
  margin: 0 0 10px;
}

.inner-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 912px;
  width: 100%;
  padding: 40px 0 24px 0;
}

.inner-header h2 {
  font-size: 26px;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 8px 0;
  text-align: left;
  font-weight: bold; 
}

.inner-header p {
  line-height: 25px;
  font-size: 16px;
  color: #939BA1;
  max-width: 590px;
}

.sections {
  width: 100%;
  margin: 24px 0 0 0;
  padding: 0 16px 60px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F5F3F1;
}

.section {
  width: 976px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section:last-child {
  border-bottom: none;
}

.section__text {
  width: 500px;
  text-align: left;
}

.section__text h2 {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin: 0 0 8px 0;
}

.section__text .text {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #777f86;
}

.section__text .text strong {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 24px;
  color: black;
  background-color: rgba(54, 55, 99, 0.1);
  border-radius: 4px;
  padding: 0 5px;
}

.section__text a {
  text-decoration: none;
  color: #7367A4;
  opacity: .8;
}

.section-link {
  padding: 0 12px 0 0;
}

.section__text a:hover {
  opacity: 1;
}

.section__text .text p {
  padding: 0 0 12px 0;
}

.section__text .text p:last-child {
  padding: 0 0 0 0;
}

.section__image {
  position: relative;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
}

.section.section--one .section__image {
  width: 212px;
  height: 186px;
  background-image: url(../img/image-2@2x.png);
  background-size: 212px;
}

.section.section--two .section__image {
  width: 248px;
  height: 184px;
  background-image: url(../img/image-2@2x.png);
  background-size: 248px;
}

.section.section--three .section__image {
  width: 258px;
  height: 162px;
  background-image: url(../img/image-3@2x.png);
  background-size: 258px;
}

.section.section--four .section__image {
  width: 208px;
  height: 151px;
  background-image: url(../img/image-4@2x.png);
  background-size: 208px;
}

.section:nth-child(even) {
  justify-content: flex-end;
}

.section:nth-child(odd) {
  justify-content: flex-start;
}

.section:nth-child(even) .section__text {
  margin-left: 90px;
}

.section:nth-child(odd) .section__text {
  margin-right: 90px;
}

.section:nth-child(even) .section__text {
  order: 1;
}

.section:nth-child(even) .section__image {
  order: 0;
}

pre {
  background-color: white;
  padding: 0px;

  code {
    padding: 1em !important;
    border-radius: 8px;
    font-size: 1em;
  } 
}

@media (max-width: 1199px) {
  .sections {
    margin: 12px 0 0 0;
    padding-bottom: 32px;
  }

  .section-header {
    width: 100%;
    max-width: calc(100% - 32px);
    padding: 32px 24px 16px 24px;
  }

  .section-header h2 {
    font-size: 22px;
    padding: 0 0 8px 0;
  }

  .section-header p{
    width: 100%;
  }

  .section {
    width: 100%;
    height: auto;
    padding: 0 24px;
    flex-direction: column;
    padding: 0;
    border-bottom: 1px solid #E7E5EB;
  }

  .section__text {
    width: 100%;
    text-align: left;
    padding: 16px 24px 32px;
  }

  .section__text h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 4px 0;
  }

  .section .section__text {
    order: 1;
  }

  .section .section__image {
    order: 0;
    margin: 32px 0 32px 0;
  }

  .section:nth-child(even) .section__text {
    margin-left: 0px;
  }

  .section:nth-child(odd) .section__text {
    margin-right: 0px;
  }
}

.contribute-wrap {
  max-width: 912px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  min-height: 300px;
}

.contribute
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 24px;
  padding: 30px 24px 24px 24px;
  width: calc(33.33% - 16px);
  flex-direction: column;
  margin-bottom: 24px;
  &:nth-child(3n+3)
    margin-right: 0

.contribute h3 {
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 8px;
}

.contribute p
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 16px;
  color: #939BA1;
  margin-bottom: 20px;
  overflow hidden
  &:last-child
    margin-bottom: 0;
    margin-top: auto;

.contribute a {
  line-height: 24px;
  font-size: 16px;
  color: #FF9C00;
  text-decoration: none;
  margin-top: auto;
}

.contribute span {
  margin-left: 8px;
}

.contributor {
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
  display: flex
  object-fit: cover
}

footer
  color: #7D7F88;
  background: #262A39;
  padding: 60px 0;
  position relative;
  z-index: 9
  .container
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    a
      text-decoration: none
    .info
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      display: flex;
      flex-direction: column;
    .social-links
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
      margin-left: auto
    .more
      flex: 0 0 16.666667%;
      max-width: 16.666667%;

footer 
  .blog-logo
    height: auto;
    display: flex;
    font-family: 'GT Walsheim', sans-serif;
    a
      display: flex;
      align-items: center;
      &:hover
        color: #4360df;
      span
        line-height: 1;
        font-size: 26px;
        text-transform: lowercase;
        font-weight: bold;
        margin-left: 10px;

footer a{
  color: #fff;
}

footer p{
  margin-top: auto;
  margin-bottom: 0;
  line-height: 26px;
  font-size: 16px;
}

footer h3{
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li{
  margin-bottom: 24px;
}

footer ul li a:hover{
  opacity: .6;
  color: #fff;
}

footer ul.community li a{
  position: relative;
  padding-left: 48px;
}

footer ul.community li a:before,
footer ul.community li a:after{
  content: '';
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

footer ul.community li a:after{
  opacity: 1;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

footer ul.community li a.footer-facebook:after{
  background-image: url(../img/icon_fb2.svg);
}

footer ul.community li a.footer-twitter:after{
  background-image: url(../img/icon_tw2.svg);
}

footer ul.community li a.footer-riot:after{
  background-image: url(../img/icon_ri.svg);
}

footer ul.community li a.footer-github:after{
  background-image: url(../img/icon_gh2.svg);
}

footer ul.community li a.footer-reddit:after{
  background-image: url(../img/icon_rd2.svg);
}

footer ul.community li a.footer-youtube:after{
  background-image: url(../img/icon_yt.svg);
}

footer .project h4{
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'GT Walsheim', sans-serif;
}

footer .project p{
  margin: 0 0 30px 0;
  max-width: 220px;
  line-height: 20px;
  font-size: 14px;
}

footer .copyright{
  margin-top: 30px;
}

footer .copyright p{
  margin: 20px 0;
  font-size: 14px;
  line-height: 20px;
}

footer .share{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer .share a{
  width: 60px;
  height: 60px;
  font-size: 22px;
  margin: 0 10px;
}

footer input[type="email"]{
  border: 3px solid #ffffff;
  background: #eff0f1;
}

@media (max-width: 1199px)
  .backdrop
    z-index: 9998
    display: block
  .mobile-menu-container
    z-index: 9999
    display: block
  .open
    .backdrop
      visibility: visible;
      opacity: 0.45;
      pointer-events: all;
    .mobile-menu-container
      visibility: visible;
      opacity: 1;
      pointer-events: all;
  .header
    margin: 10px 0;
    padding: 0 16px;
    .mobile-menu-trigger
      display: flex;
    .logo-text
      font-size: 22px
    .logo
      width: 44px
      height: 44px
    header
      display: none
    .secondary-nav
      display: none
    .mobile-menu-container
      header
        display: flex
      .secondary-nav
        display: flex
  .open-submenu
    .mobile-menu-container .mobile-menu-container-inner
      transform: translateX(-100vw);
    .mobile-submenu-container-inner
      transform: translateX(0);

@media (max-width: 991px)
  .section-header
    margin: -30px auto 0 auto;

  .intro
    padding: 50px 16px;

  .command-wrap {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .command {
    border-radius: 0;
    font-size: 18px;
  }

  #content-inner
    flex-direction: column;
    #sidebar
      padding: 20px 0;
      margin-left: -14px;
      .inner
        flex-wrap: nowrap;
        display: flex;
        overflow: auto;
        white-space: nowrap;
        width: calc(100% + 20px);
        a
          padding: 9px 14px;
          margin-bottom: 0;

  .article
    padding: 0;
    .inner
      padding: 0;

  footer .container
    .social-links
      flex: 0 0 20%;
      max-width: 20%;
    .more
      flex: 0 0 20%;
      max-width: 20%;

@media (max-width: 767px)
  .home-cover
    position: relative;
    height: auto;
  .home-wrap
    margin-top: 30px;
  .work-item
    flex-direction: column-reverse;
    margin-top: 70px;
    padding: 0;
    &:nth-of-type(2n)
      flex-direction: column;
      .work-item-inner
        padding-left: 0;
    .work-item-inner
      padding-right: 0;
      margin-top: 30px;
  .intro-buttons
    flex-wrap: wrap;
    justify-content: center;
    .button
      margin-bottom: 16px;
  .contribute-wrap
    flex-wrap: wrap;
    .contribute
      width: 100%;
      margin-right: 0;
  footer .container
    flex-direction: column-reverse;
    text-align: center;
    p
      margin-top: 10px;
    ul li
      margin-bottom: 16px;
    .info
      flex: 0 0 100%;
      max-width: 100%;
      align-items: center;
      margin-top: 50px;
      .blog-logo a span
        display: none;
    .social-links
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 30px;
      .community
        width: 130px;
        text-align: left;
        margin: 0 auto;
    .more
      flex: 0 0 100%;
      max-width: 100%;