$colorBg: rgba(238, 242, 245, 1);

$colorWhite: rgba(255, 255, 255, 1);
$colorBlack: rgba(0, 0, 0, 1);

$colorBlue: rgba(67, 96, 223, 1);
$colorGray: rgba(147, 155, 161, 1);
$colorDarkBlue: rgba(38, 42, 57, 1);


$colorIncubate: rgba(0,139,173,1);
$colorEmbark: rgba(54, 55, 99, 1);
$colorStudio: rgba(94, 193, 47, 1);
$colorNimbus: rgba(255, 156, 0, 1);
$colorHardwallet: rgba(127, 68, 223, 1);
